<div class="view">
	<div class="portfolio ptsans-20">PORTFOLIO 2021</div>
	<!-- <div class="name fira-24">REESE PELTIER</div> -->
	<div class="title jetbrains-160">
		<div class="headline text-clip" id="header-1">
			<span class="header-letter ">C</span>
			<span class="header-letter ">R</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">A</span>
			<span class="header-letter ">T</span>
			<span class="header-letter ">I</span>
			<span class="header-letter ">V</span>
			<span class="header-letter ">E</span>
		</div>
		<div class="headline outline text-clip" id="header-2">
			<span class="header-letter ">E</span>
			<span class="header-letter ">N</span>
			<span class="header-letter ">G</span>
			<span class="header-letter ">I</span>
			<span class="header-letter ">N</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">R</span>
			<span class="header-letter ">I</span>
			<span class="header-letter ">N</span>
			<span class="header-letter ">G</span>
		</div>
	</div>
	<div class="blob-bg">
		<app-blob></app-blob>
	</div>
</div>