@import "src/scss/variables";
@import "src/scss/mixins";

.portfolio {
	transform: rotate(-90deg);
	width: fit-content;
	position: absolute;
	top: 50%;
}

.title {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 51;
}

#header-1 {
	margin-left: -50px;
	@for $i from 1 to 9 {
		:nth-child(#{$i}) {
			@include slider(down, 750ms, #{($i * 50)}ms, cubic-bezier(0.5, 0.59, 0.07, 1));
		}
	}
}

#header-2 {
	margin-left: 50px;
	white-space: nowrap;
	@for $i from 1 to 13 {
		:nth-child(#{$i}) {
			@include slider(up, 750ms, #{($i * 50) + 300}ms, cubic-bezier(0.5, 0.59, 0.07, 1));
		}
	}
}

.header-letter {
	display: inline-block;
}

.blob-bg {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
}
