@import "src/scss/variables";
@import "src/scss/mixins";

.portfolio {
	writing-mode: tb-rl;
	transform: rotate(-180deg) translateY(50%);
	width: fit-content;
	position: absolute;
	top: 50%;
	left: 2%;
}

.titles {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 51;
}

.anim-fwd {
	animation-direction: normal;
}

.anim-bwd {
	animation-direction: reverse;
}

.text-enter {
	white-space: nowrap;
	@for $i from 1 to 50 {
		:nth-child(#{$i}) {
			$duration: random(750) + 250 + ms;
			$delay: random(600) + ms;
			$dir: random(2);
			@if $dir == 1 {
				@include sliderEnter(up, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
			} @else {
				@include sliderEnter(down, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
			}
		}
	}
}

.text-exit {
	white-space: nowrap;
	@for $i from 1 to 50 {
		:nth-child(#{$i}) {
			$duration: random(750) + 250 + ms;
			$delay: random(250) + ms;
			$dir: random(2);
			@if $dir == 1 {
				@include sliderExit(up, $duration, -0, cubic-bezier(0.5, 0.59, 0.07, 1));
			} @else {
				@include sliderExit(down, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
			}
		}
	}
}

// #header-0 {
// 	white-space: nowrap;
// 	@for $i from 1 to 13 {
// 		:nth-child(#{$i}) {
// 			$duration: random(750) + 250 + ms;
// 			$delay: random(600) + ms;
// 			$dir: random(2);
// 			@if $dir == 1 {
// 				@include slider(up, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
// 			} @else {
// 				@include slider(down, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
// 			}
// 			// @include slider(up, 750ms, #{($i * 20)}ms, cubic-bezier(0.5, 0.59, 0.07, 1));
// 		}
// 	}
// }
// #header-2 {
// 	white-space: nowrap;
// 	@for $i from 1 to 15 {
// 		:nth-child(#{$i}) {
// 			$duration: random(750) + 250 + ms;
// 			$delay: random(600) + ms;
// 			$dir: random(2);
// 			@if $dir == 1 {
// 				@include slider(up, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
// 			} @else {
// 				@include slider(down, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
// 			}
// 		}
// 	}
// }

// #header-1 {
// 	white-space: nowrap;
// 	@for $i from 1 to 15 {
// 		:nth-child(#{$i}) {
// 			$duration: random(750) + 350 + ms;
// 			$delay: random(600) + ms;
// 			$dir: random(2);
// 			@if $dir == 1 {
// 				@include slider(up, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
// 			} @else {
// 				@include slider(down, $duration, $delay, cubic-bezier(0.5, 0.59, 0.07, 1));
// 			}
// 		}
// 	}
// }

.header-letter {
	display: inline-block;
}
