<div class="view">
	<div class="portfolio ptsans-18">PORTFOLIO&mdash;2021</div>
	<div class="titles">
		<!-- <div class="name ptsans-32 text-clip" id="header-0">
			<span class="header-letter ">R</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">S</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">&nbsp;</span>
			<span class="header-letter ">P</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">L</span>
			<span class="header-letter ">T</span>
			<span class="header-letter ">I</span>
			<span class="header-letter ">E</span>
			<span class="header-letter ">R</span>
		</div> -->
		<div class="headlines">
			<div class="text-clip jetbrains-40 text-enter">
				<span class="header-letter ">R</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">S</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">&nbsp;</span>
				<span class="header-letter ">P</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">L</span>
				<span class="header-letter ">T</span>
				<span class="header-letter ">I</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">R</span>
			</div>
			<div class="headline jetbrains-160 text-clip text-enter">
				<span class="header-letter ">C</span>
				<span class="header-letter ">R</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">A</span>
				<span class="header-letter ">T</span>
				<span class="header-letter ">I</span>
				<span class="header-letter ">V</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">&nbsp;</span>
			</div>
			<div class="headline jetbrains-160 text-clip text-enter">
				<span class="header-letter ">&nbsp;</span>
				<span class="header-letter ">S</span>
				<span class="header-letter ">O</span>
				<span class="header-letter ">F</span>
				<span class="header-letter ">T</span>
				<span class="header-letter ">W</span>
				<span class="header-letter ">A</span>
				<span class="header-letter ">R</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">&nbsp;</span>
			</div>
			<div class="headline text-clip jetbrains-160 text-enter">
				<!-- <span class="header-letter ">&nbsp;</span> -->
				<span class="header-letter ">E</span>
				<span class="header-letter ">N</span>
				<span class="header-letter ">G</span>
				<span class="header-letter ">I</span>
				<span class="header-letter ">N</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">E</span>
				<span class="header-letter ">R</span>
			</div>
		</div>
	</div>
</div>