@import "src/scss/variables";

@keyframes enterDownAnimation {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes exitDownAnimation {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes enterUpAnimation {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes exitUpAnimation {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}
