@import "variables";
@import "animations";
@import "mixins";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
	// cursor: none;
	color: var(--text-color);

	::-moz-selection {
		color: $theme-color;
	}

	::selection {
		color: $theme-color;
	}

	transition: color $theme-timer $cubic-bezier-timing;
}

body {
	overflow-x: hidden;
	overflow-y: overlay;
}

:root {
	--theme-color: #{$theme-color};
	--main-background-color: #{$main-background-color};
	--text-color: #{$text-color};
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
	animation-play-state: paused !important;
}

.view {
	width: 100vw;
	height: 100vh;
	// overflow-x: hidden;
	overflow: hidden;
}

// dynamically build font + sizing classes
@each $font, $fontValue in $fonts {
	@for $i from 10 through 200 {
		$val: null;
		@if $i % 2 == 0 {
			$val: $i;
		}

		@if $val not null {
			.#{$font}-#{$val} {
				font-family: $fontValue;
				font-size: #{$val}px;
			}
		}
	}
}

.text-clip {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	// outline: 1px dotted red;
	padding-right: 1%;
	width: 100%;
}

// semantic classes
.headline {
	line-height: 170px;
	// font-weight: 600;
	user-select: none;
}

.outline {
	-webkit-text-stroke: 1px var(--text-color);
	// -webkit-text-stroke: 1px $text-color;
	-webkit-text-fill-color: #00000000;
	transition: -webkit-text-stroke 1000ms $cubic-bezier-timing;
}

/* #region scroll bar styling */
//width
::-webkit-scrollbar {
	width: 4px;
}

//track
::-webkit-scrollbar-track {
	// background: $main-background-color;
	// background: transparent;
}

//handle
::-webkit-scrollbar-thumb {
	background: var(--theme-color);
	transition: all 1000ms $cubic-bezier-timing;
}
/*#endregion */
